* {
    margin:  0;
    padding: 0;
}
body {
    margin:  0;
    padding: 0; 
}
.navbar {
    display: flex;
}
.App {
margin-left: 500px;
/* background-color: #1B1A21; */
display: flex;
flex-direction: column;
justify-content: center;
width: 316px;
}

.container--name {
   text-align: center;
   margin-bottom: 30px;
}
.main {
background-color: #1B1A21;
}
.name{
    color: white;
}
.title {
    color: #E9B58D;
    margin-bottom: 10px;
}
small {
    color: white;
   
}
button {
    padding: 10px 110px;
    border-radius: 8px;
    margin-top: 15px;

}
.container--about {
    text-align: left;
    margin-left: 20px ;
    margin-bottom: 10px;
}
.about {
    color: white;
    font-size: 16px;
    margin-bottom: 10px;
}
.text {
    color:  #DCDCDC;
    font-size: 10.24px;
    width: 283.7px;
}
.footer {
    background-color: #161619;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.footer > img {
    margin: 0 12px;
}